<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>TNCar | Creación de Categorías</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
     <link  th:href="@{/bootstrap/css/estilos.css}" rel="stylesheet">
   <script src="https://kit.fontawesome.com/8883eb0c4f.js" crossorigin="anonymous"></script>
  </head>

  <body>

   <header   th:insert="~{fragmentos/menu.html::menu-principal}">
      
    </header>

    <main>     
      <hr>
            <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Datos del nuevo producto</strong></h4>              
          <div class="card-body">
			 
            <form method="post" enctype="multipart/form-data" th:action="@{/productos/guardar}" th:object="${producto}"> 
				
				 <div th:if="${#fields.hasErrors('*')}" class='alert alert-danger'
				 role='alert'>Por favor corrija los errores encontrados: 
				 <ul>
					 <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
				 </ul>
				 </div>
				             
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="hidden" th:field="*{id}">
                    <input type="text" class="form-control" id="nombreP" name="nombreP" th:field="*{nombreP}" placeholder="Nombre del producto" required="required">
                  </div>
                </div>
              
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Precio</label>
                    <input type="number" class="form-control" name="precio" id="precio" th:field="*{precio}" placeholder="Precio del producto" required="required">
                  </div>
                </div>     
            
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="salario">Descuento</label>
                    <input type="number" class="form-control" name="descuento" id="descuento" th:field="*{descuento}" placeholder="$" required="required">
                  </div>
                </div>
               </div>
               
               
              <div class="row">
               <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Stock</label>
                    <input type="number" class="form-control" name="stock" id="stock" th:field="*{stock}"placeholder="stock" required="required">
                  </div>
                  </div>
                  
                  <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Existencias</label>
                    <input type="number" class="form-control" name="existencia" id="existencia" th:field="*{existencia}"placeholder="Numero de existencias" required="required">
                  </div>
                   </div>
                   <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fecha">Marca</label>
                    <input type="text" class="form-control" name="marca" id="marca" th:field="*{marca}"placeholder="Marca del producto" required="required">
                  </div>
                   </div>
                              
              </div>
              
              
                <div class="row">
					<div class="col-md-3"> 
                  <div class="form-group">
                    <label for="categoria">Categoria</label>
                    <select class="form-control" th:field="*{categoria.id}" name="categoria" id="categoria">
                      <option th:each="categoria:${categorias}"
                      th:value="${categoria.id}"
                      th:text="${categoria.nombreC}"></option>
                  
                    </select>
                  </div> 
                  </div>   
              <div class="col-md-3">
						 <div class="form-group">
                    <label for="fecha">Descripcion</label>
                    <textarea type="tex" class="form-control" name="descripcion" id="descripcion" th:field="*{descripcion}"placeholder="descripcion" required="required"></textarea>
                  </div> 
                  </div> 
              <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="archivoImagen">Imagen</label>
                    <input type="file" class="form-control-file" name="archivoImagen" id="archivoImagen">
                  </div>
                </div>
                
                </div>
                
              
              
              <button type="submit" class="btn btn-primaty botoon">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="pie-pagina" th:insert="~{fragmentos/pie.html::pie}">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>     
  </br>
</html>
