   <!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>TNCar | Lista de Productos</title>
    <!-- Bootstrap core CSS -->
      <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
     <link  th:href="@{/bootstrap/css/estilos.css}" rel="stylesheet">
   <script src="https://kit.fontawesome.com/8883eb0c4f.js" crossorigin="anonymous"></script>

  </head>

  <body>
   <header   th:insert="~{fragmentos/menu.html::menu-principal}">
      
    </header>
    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Listado de Productos</strong></h4>              
          <div class="card-body">
            <a class="btn btn-primary" th:href="@{/productos/nueva}" title="Crear nueva Oferta de Trabajo" role="button"><i class="fas fa-file" aria-hidden="true"></i> Nueva</a>            
            <hr>
             <div class="alert alert-success" role="alert" th:if="${msg!=null}" th:text="${msg}"></div>
            <table class="table table-hover">
              <thead class="thead-light">
               <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Descuento</th>
                <th scope="col">Stock</th>
                <th scope="col">Existencia</th>
                  <th scope="col">Marca</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Categoria</th>
                <th scope="col">Operaciones</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="producto : ${productos}">
                  <td scope="row" th:text="${producto.id}"></td>
                  <td th:text="${producto.nombreP}"></td>
                  <td th:text="${producto.precio}"></td>
                  <td th:text="${producto.descuento}"></td>
                  <td th:text="${producto.stock}"></td>
                  <td th:text="${producto.existencia}"></td>
                   <td th:text="${producto.marca}"></td>
                  <td th:text="${producto.descripcion}"></td>
                  <td th:text="${producto.categoria.nombreC}"></td>
                  
                  
                  <td>
                    <a th:href="@{/productos/buscar(id=${producto.id})}" class="fas btn btn-success btn-sm ope" role="button" title="Editar el producto."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/productos/eliminar(id=${producto.id})}" onclick="return confirm('¿Estas seguro?')" class="fas btn btn-success btn-sm ope" role="button" title="Eliminar el registro."><i class="fas fa-trash" aria-hidden="true"></i></a>
                 	<a th:href="@{/productos/detalle(id=${producto.id})}" class="fas btn btn-success btn-sm ope" role="button" title="Detalle del producto."><i class="fas fa-info-circle" aria-hidden="true"></i></a>        
                 
                  </td>
                </tr>
              </tbody>
              <tfloot>
				  <tr>
					  <td colspan="4" th:text="'Total de Productos: ' +${total}"></td>
				  </tr>
			  </tfloot>
            </table>
            
				    <nav th:if="${productos.totalPages > 0}" aria-label="Page navigation example" >
    	<ul class="pagination justify-content-center">
    		<li class="page-item" th:classappend="${productos.number == 0 ? 'disabled' : ''}">
    			<a th:href="@{/productos/indexPaginado(page=${productos.number - 1})}" class="page-link">Anterior</a>
    		</li>
    					
    		<li class="page-item" th:classappend="${i eq productos.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, productos.totalPages, 1)}">
    			<a class="page-link" th:href="@{/productos/indexPaginado?page={tmpPag} (tmpPag=${i-1}) }" th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
    		</li>
    		<li class="page-item" th:classappend="${productos.number == (productos.totalPages - 1) ? 'disabled' : ''}">
    			<a th:href="@{/productos/indexPaginado(page=${productos.number + 1})}" class="page-link">Siguiente</a>
    		</li>
    	</ul>
    </nav>

          </div>
        </div>
      </div> <!-- /container -->
<br><br>
    </main>

     <footer   th:insert="~{fragmentos/pie.html::pie}">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>