
      <nav class="navbar navbar-expand-md   " th:fragment="menu-principal">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

            <img id="Logo" th:src="@{/images/LOGOT.png}" alt="">
            <h3>TNC<span class="main-color">ar</span></h3>
            
           
            
           


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            
            </li>
            <li class="nav-item">
             <a class="nav-link" th:href="@{/}">Home</a>
            </li> 
            <li class="nav-item">
             <a class="nav-link" th:href="@{/productos/index}">Productos</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" th:href="@{/libros/indexPaginado}">Servicios</a>
            </li> 
            
           <li class="nav-item">
             <a class="nav-link" th:href="@{/categorias/index}">Categorias</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" th:href="@{/libros/indexPaginado}">Empleados</a>
            </li> 
            <li class="nav-item">
             <a class="nav-link" th:href="@{/editoriales/indexPaginado}">Clientes</a>
            </li>
            
           
          </ul>  
         <a id="letra" th:href="@{/logout}">Salir</a> 
          
        </div>
      </nav>
    