<div class="container" th:fragment="pie">
        
      <div class="grupo-1">
        <div class="box">
            <figure>
                <a href=""><img id=logo th:src="@{/images/LOGOT.png}">
                </a>
            </figure>
        </div>
        <div class="box">
            <br>
            <h2>SOBRE NOSOSTROS</h2>
            <p>Somos un grupo de expertos y apasionados amigos por los autos, en
                donde ofrecemos a nuestros clientes el mejor servicio con la mejor
                calidad y sobre todo al mejor precio.</p>

        </div>
        <div class="box">
            <br>
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/profile.php?id=100081358117492" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/tncar_4/tagged/" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
            </div>
        </div>
    </div>

    <div class="grupo-2">
        <small>© 2023 <b>TNCar</b> - Todos los Derechos Reservados.</small>
    </div>
    </div>