<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>TNCar | Comprobante</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link  th:href="@{/bootstrap/css/estilos.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

    <header  th:insert="~{fragmentos/menu.html::menu-principal}">
      
    </header>
    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
          
          <div class="col-md-9">
            <div class="card tab">
              <h4 class="card-header letras">Comprobante de contratacion</h4>              
             <div class="card-body">
				   <h6 class="card-title letras"><span class="">Nombre del cliente: </span>   
				<span sec:authentication="name" style="color: white;"></span></h6>
                <h6 class="card-title letras"><strong>Tipo de servicio: </strong> <span th:text="${contratacion.tiposerv.nombre}"></span></h6>                
                <h6 class="card-title letras"><strong>Automovil: </strong> <span th:text="${contratacion.automovil.marca}"></span></h6>
                <h6 class="card-title letras"><strong>Modelo: </strong><span th:text="${contratacion.modelo}"></span></h6>
                 <h6 class="card-title letras"><strong>Fecha de ingreso: </strong><span th:text="${contratacion.fechaIngreso}"></span></h6>
               <div class="alert alert-danger  msj" role="alert"> Su automovil Será entregado de 3 a 4 dias habiles posteriores al ingreso. <strong> Nos pondremos en contacto al correo electronico proporcionado en el registro. </strong></div>

                 
        
               <div class="card bg-ligth mb-3">
				   <div class="card-body decrip">
					   <h5 class="card-title">Datos adicionales</h5>
					   <p class="card-text letras" th:text="${contratacion.adicional}"></p>

				   </div>
			   </div>
        
               <a class="btn btn-primary bt contra" style="margin-left: 1px; margin-top: 20px; margin-bottom: 20px;" th:href="@{/contrataciones/cancelar}"  role="button"><i class="fa-solid fa-car-wrench"></i>Regresar</a>                

              </div>
            </div>  
          </div>
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/images/LOGOT.png}" alt="Generic placeholder image" width="220" height="220">            
          </div>
        </div>

      </div>
  
    </main>

     <footer th:insert="~{fragmentos/pie.html::pie}">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
  </body>
</html>
